.quoteCard {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url('https://source.unsplash.com/800x600/?nature');
    background-size: cover;
    min-height: 500px;
    width: 100%;
    padding: 4rem;
    border-radius: 20px;
    position: relative;
}

.quote {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
}


/* #author {
    text-align: end;
    position: absolute;
    right: 5rem;
    line-height: 6px;
}

#author::before {
    content: "- ";
} */

.btn {
    text-align: center;
}

.btn:visited {
    transition: all 0.5s ease-in-out;
}


/* @media (max-width:500px) {
    .quoteCard {
        min-width: 456px;
        max-width: 356px;
        width: 50%;
    }
} */