.quoteCard {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url('https://source.unsplash.com/800x600/?nature');
    background-size: cover;
    min-height: 700px;
    width: 100%;
    padding: 4rem;
    border-radius: 20px;
    position: relative;
}

#quote {
    position: absolute;
    top: 50px;
    bottom: 5px;
    /* transition: all 0.5s ease-in-out; */
}


/* #quote:hover {
    position: absolute;
    top: 40px;
    left: 10px;
    right: 5px;
    bottom: 5px;
    overflow: wrap;
} */


/* #author {
    text-align: end;
    position: absolute;
    right: 5rem;
    line-height: 6px;
}

#author::before {
    content: "- ";
} */

.btn {
    text-align: center;
}

#btn1,
#btn2 {
    background: #6366F1;
    color: white;
    border: black;
}


/* @media (max-width:500px) {
    .quoteCard {
        min-width: 456px;
        max-width: 356px;
        width: 50%;
    }
} */